attrs==25.4.0
cdsapi==0.7.7
certifi==2025.10.5
charset-normalizer==3.4.4
docopt==0.6.2
ecmwf-datastores-client==0.4.0
idna==3.11
multiurl==0.3.7
numpy==2.3.3
pipreqs==0.4.13
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
six==1.17.0
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
yarg==0.1.10
